@font-face {
	font-family: 'Amplify';
	src: url('fonts/Amplify_PersonalUseOnly.woff'); /* IE9 Compat Modes */
	src: url('fonts/Amplify_PersonalUseOnly.woff?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Amplify_PersonalUseOnly.woff')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/Amplify_PersonalUseOnly.woff') format('woff2'), /* Super Modern Browsers */
    url('fonts/Amplify_PersonalUseOnly.woff') format('woff'), /* Pretty Modern Browsers */
    url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/Amplify_PersonalUseOnly.woff') format('svg'); /* Legacy iOS */
}


